transformers
trl
peft
accelerate
bitsandbytes
huggingface-hub
pandas
protobuf
sentencepiece
tensorboard
tensorboardX
torch
vllm
vllm-flash-attn
nltk
fraction
PyYAML
typing_extensions
jsonlines==4.0.0
openai
auto-gptq==0.6.0
